spring:
  application:
    name: crypto-portfolio-tracker
  datasource:
    url: ${DATABASE_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: false
  security:
    jwt:
      secret: ${JWT_SECRET}
      expiration: 86400000 # 24 hours

server:
  port: ${PORT:8080}

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
  api-docs:
    path: /api-docs

logging:
  level:
    com.cryptoportfolio: INFO
    org.springframework.security: INFO
