spring:
  application:
    name: crypto-portfolio-tracker
  datasource:
    url: jdbc:mysql://localhost:3306/crypto_portfolio?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: crypto_user
    password: crypto_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  security:
    jwt:
      secret: mySecretKey123456789012345678901234567890
      expiration: 86400000 # 24 hours

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
  api-docs:
    path: /api-docs

logging:
  level:
    com.cryptoportfolio: DEBUG
    org.springframework.security: DEBUG